<h1>Gracias por registrarte!</h1>
<h2>Preparado para empezar a recrear tus personajes favoritos de Dark Souls?</h2>
<p>Pulsa el siguiente link para enviar un codigo de verificacion a tu celular y lograr confirmar tu cuenta!</p>
<a href="{{ url }}">Verificar numero</a>
